{% comment %}
A "card" component based on a <figure>.

PARAMETERS

* url
* img_src
* title
* description

All parameters are optional. 

{% endcomment %}

`<figure class="card">
	{% if include.url %}
  <a href="{{ include.url }}">
	{% endif %}
  {% if include.img_src %}
  <img src="{{ include.img_src }}" />
  {% endif %}
	<figcaption>
	{% if include.title %}
  <h4>{{ include.title }}</h4>
	{% endif %}
	{% if include.description %}
  <p>{{ include.description }}</p>
	{% endif %}
	</figcaption>
	{% if include.url %}</a>{% endif %}
</figure>`{=html}
