<meta property="og:title" content="{{site.title}}">
<meta property="og:site_name" content="{{site.title}}">
<meta property="og:description"
  content="{{site.title}} is a community advocacy group committed to affordable and high-quality housing in Brisbane.">
<meta name="twitter:description"
  content="{{site.title}} is a community advocacy group committed to affordable and high-quality housing in Brisbane.">
<meta name="twitter:title" content="{{site.title}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap" rel="stylesheet">
<!--- <link rel="stylesheet" href='{{ "/assets/css/style.scss" }} '> --->