--- 

--- 
@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

$brand-color:      #FFE12D; // Minima 2.0 & this file
$link-base-color:  #FFE12D; // Minima 3.0
$secondary-color:  #FF4500;
$tertiary-1-color: #B089D9;
$tertiary-2-color: #71A95A;
$tertiary-3-color: #87CEEB;
$text-color:       #011A21;

body {
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 14pt;
  font-weight: 400;
}

a, a:visited {
  color: inherit;
}

main a , main a:visited {
  text-decoration: underline; 
}
main a:hover , main a:visited:hover {
  text-decoration: underline; 
  text-decoration-color: $brand-color; 
  text-decoration-thickness: 1.5em;
  text-underline-offset: -1em;
  text-decoration-skip-ink: none;
  color: $text-color;
  background: none;
}

h1,h2,h3,h4,h5,h6,header {
  font-family: 'Inter';
  font-weight: 500;
  letter-spacing: -0.025ch;
  color: var(--text-color);
}


.site-title, .site-title:visited, .site-nav .page-link {
  color: var(--text-color);
  font-weight: 500;
}

.site-title::before {
  content: "";
  background-image: url('/assets/images/favicon.png');
  display:inline-block;
  background-size: cover;
  width: 1em;
  height: 1em;
  margin-right: 0.3em;
  object-fit: scale-down;
}

.site-header, .site-footer {
  border: none; // override theme default
}

.site-header::after,.site-footer::before {
    content: '';
    position:relative;
    display: block;
    width:100%;
    height:0.5em;
    background: linear-gradient(
      90deg,
    	$brand-color 20%,
      $secondary-color 20%,
      $secondary-color 40%,
      $tertiary-1-color 40%,
      $tertiary-1-color 60%,
      $tertiary-2-color 60%,
      $tertiary-2-color 80%,
      $tertiary-3-color 80%,
      $tertiary-3-color 100%,
  );
  z-index: inherit;
}

.site-footer::before {
  top: -30px; // .site-footer padding also 30px
  left: 0;
}

nav {
  z-index: 999;
}

.social-media-list {
  li {
    a {
      border: 1px solid #8888;
    }
    a:hover {
      background: $brand-color;
      border: 1px solid $brand-color;
      .svg-icon {
        fill: $text-color;
      }
    }
  }
}

// make these the same as -3 by default (small) because they aren't stacking anyway
.footer-col-1, .footer-col-2 { 
  width: calc(100% - (#{$spacing-unit} / 2));
}

/***** Custom Classes *****/

.hl, a.hl {
  /* Highlighted */
  background-origin: content-box;
  background-size: 100% 100%;
  background-repeat: repeat-x;
  background-position-y: 64%;  
  display: inline-block;
  padding-inline: 1em;
  color: $text-color;
  background-color: $brand-color;
  text-decoration: none; 
}

.hl a:hover, a.hl:hover {
  color: $text-color;
  background-color: $brand-color;
  text-decoration-color: inherit;
  text-decoration: underline;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
}

.splash {
  background-color: $brand-color;
  width: 100vw;
  margin: 0;
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.splash .social-media-list a {
  .svg-icon {
    fill: $text-color;
  }
  background: none;
  border: none;
  &:hover {
    background: $text-color;
    .svg-icon {
      fill: $brand-color;
    }
    border: none;
  }
}

.image-credit {
  position: absolute;
  font-size: x-small;
  bottom: 1rem;
  right: 1rem;
  color: $text-color;
  width: auto;
  background-color: $brand-color;
  padding: 0.5em;
  border-radius: 1em;
}

.card {
  padding: 0.5rem;
  margin-bottom: 1rem;
  background: #aaa2;
  color: inherit;

  h1,h2,h3,h4,h5,h6 {
    margin: 0.5em 0;
  }
  p {
    padding: 0;
    margin: 0;
  }
  a:hover {
    text-decoration: none;
    * {
      background: $brand-color;
      color: $text-color;
    }
  }
}

.card:has(a){
  &:hover {
    background: $brand-color;
    color: $text-color;
  }
  a {
    text-decoration:none;
  }
}

.button {
  @extend .hl;
  border-radius: 0;
  font-weight: 900;
  text-align: center;
  padding: 0.5em 4em;
  display: inline-block;
  text-decoration:none;
}

.card-holder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;

  .card {
    background: none;
    word-wrap: break-word;
  }
}


hr {
  height: 0.2rem;
  background: linear-gradient(
    90deg,
  	$brand-color 20%,
    $secondary-color 20%,
    $secondary-color 40%,
    $tertiary-1-color 40%,
    $tertiary-1-color 60%,
    $tertiary-2-color 60%,
    $tertiary-2-color 80%,
    $tertiary-3-color 80%,
    $tertiary-3-color 100%,
  );
  border: none;
}
