--- 

--- 
@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

$brand-color:      #FFE12D; // Minima 2.0 & this file
$link-base-color:  #FFE12D; // Minima 3.0
$secondary-color:  #FF4500;
$tertiary-1-color: #B089D9;
$tertiary-2-color: #71A95A;
$tertiary-3-color: #87CEEB;
$text-color:       #011A21;

/*
@media (prefers-color-scheme: dark ) {
  :root {
    --text-color: #{$background-color};
    --bg-color: #{$text-color};
  }  
}
@media (prefers-color-scheme: light) {
  :root {
    --text-color: #{$text-color};
    --bg-color: #{$background-color};
  }  
}
*/


body {
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 14pt;
  font-weight: 400;
  // color: var(--text-color);
  // background-color: var(--bg-color);
}

a, a:visited {
  color: inherit;
}

a:hover {
  color: var(--text-color);
}

main a , main a:visited {
  text-decoration: underline; 
}
main a:hover , main a:visited:hover {
  text-decoration: underline; 
  text-decoration-color: $brand-color; 
  text-decoration-thickness: 1.3em;
  text-underline-offset: -1em;
  text-decoration-skip-ink: none;
  color: $text-color;
}

h1,h2,h3,h4,h5,h6,header {
  font-family: 'Inter';
  font-weight: 500;
  letter-spacing: -0.025ch;
  color: var(--text-color);
}

.hl {
  /* Highlighted */
  background-origin: content-box;
  background-size: 100% 100%;
  background-repeat: repeat-x;
  background-position-y: 64%;  
  display: inline-block;
  padding-inline: 1em;
  color: $text-color;
  background-color: $brand-color; 
}

.hl a:hover {
  color: $text-color;
  text-decoration-color: $text-color;
}

.site-nav {
  background-color: var(--bg-color);
  border-color: grey;
  .menu-icon {
    fill: grey;
  }
}

.site-title, .site-title:visited, .site-nav .page-link {
  color: var(--text-color);
  font-weight: 500;
}

.site-title::before {
  content: "";
  background-image: url('/assets/images/favicon.png');
  display:inline-block;
  background-size: cover;
  width: 1em;
  height: 1em;
  margin-right: 0.3em;
  object-fit: scale-down;
}

.site-header, .site-footer {
  border: none; // override theme default
}

.site-header::after,.site-footer::before {
    content: '';
    position:relative;
    display: block;
    width:100%;
    height:0.5em;
    background: linear-gradient(
      90deg,
    	$brand-color 20%,
      $secondary-color 20%,
      $secondary-color 40%,
      $tertiary-1-color 40%,
      $tertiary-1-color 60%,
      $tertiary-2-color 60%,
      $tertiary-2-color 80%,
      $tertiary-3-color 80%,
      $tertiary-3-color 100%,
  );
  z-index: inherit;
}

.site-footer::before {
  top: -30px; // .site-footer padding also 30px
  left: 0;
}

nav {
  z-index: 999;
}

.social-media-list {
  li {
    a {
      border: 1px solid #8888;
    }
    a:hover {
      background: $brand-color;
      border: 1px solid $brand-color;
      .svg-icon {
        fill: $text-color;
      }
    }
  }
}


.splash {
  background-color: $brand-color;
  display: grid;
  width: 100vw;
  justify-content: space-evenly;
  justify-items: center;
  align-content: end;
  align-items: end;
  margin: 0;
  text-align: center;
}

.image-credit {
  position: absolute;
  font-size: x-small;
  bottom: 1rem;
  right: 1rem;
  color: $text-color;
  width: auto;
  background-color: $brand-color;
  padding: 0.5em;
  border-radius: 1em;
}

.card {
  font-size: small;
  padding: 0.5em;
  margin-bottom: 15px;
  background: #aaa2;

  h1,h2,h3,h4,h5,h6 {
    line-height: 1;
    margin: 0.5em 0;
    font-size: 1rem;
    background:none;
    color: inherit;
  }
  p {
    background: none;
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
  }
  a:hover, &:hover, h4:hover {
    background: $brand-color;
    color: $text-color;
  }
}

