---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
  {%- include head.html -%}
  {%- include custom-head.html -%}
</head>

<body>
  <div class="splash" >
          <img src="{{ page.hero_image.src }}" style="height: 50vmin;" 
          {%- if page.hero_image.srcset -%} srcset="{{ page.hero_image.srcset }}" {%- endif -%}          
          alt="{{ page.hero_image.alt }}" >
       <h2 class="hl">{{page.title | default: site.description | default: site.title }}</h2> 
      <nav>
      <ul> 
    {%- for cat in site.categories -%}
      {%- assign this_cat = cat | first | strip_html -%}
      <li class="hl"><a class="page-link" href="{{ this_cat | slugify | prepend: '/category/' | relative_url }}">{{ this_cat }}</a></li>
    {%- endfor -%}
    
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    
      {%- for path in page_paths -%} {%- assign my_page = site.pages | where: "path", path | first -%} {%- if my_page.title -%}
        {% unless my_page.exclude %}
          <li class="hl"><a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
        {%- endunless -%}
      {%- endif -%} {%- endfor -%}
      </ul>
      {% include social.html %}
     </nav>
    {% if page.hero_image.credit %}
    <div class="image-credit">
      <a href="{{ page.hero_image.credit }}">Image
        credit</a>
    </div>
    {% endif %}
  </div>
  {% assign contentw = content | strip %}
  {% if "" != contentw %}
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>
  {% endif %}
  {% include footer.html %}
</body>

</html>
